<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'filmwho/css/main.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmWho</title>
</head>
<body>
    <nav class="nav-bar">
        <h1>FilmWho</h1>
        {% if url == 'movie_detail' or  url == 'director_detail'%}
            <a href="{% url 'filmwho:movies' %}">MOVIES</a>
            <a href="{% url 'filmwho:index' %}">DIRECTORS</a>
        {% elif url == 'movies' %}
            <a href="{% url 'filmwho:index' %}">DIRECTORS</a>
        {% else%}
            <a href="{% url 'filmwho:movies' %}">MOVIES</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>